# Ignore node_modules directory (for JavaScript/Node.js projects)
node_modules

# Ignore environment variables and config files
.env

# Ignore log files
*.log

# Ignore compiled files (for languages like Java)
*.class

# Ignore macOS system files
.DS_Store
